Documentation/manual.aux
Documentation/manual.log
Doxygen/html/*
Doxygen/latex/*
**/*.exe
**/*.o
progs/qcdsun

.cproject
.project
.settings/
Libraries/libmdpFermi.a
Libraries/libfermiqcd.a
Libraries/libmdp.a
tests/*.out
tests/make_tHooft.exe.flat.vtk
tests/gauge.hot
tests/make_tHooft.exe.sum.vtk
tests/make_tHooft.exe.vtk
tests/gauge.cold.polyakov.real.vtk
